@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;500;700&family=Source+Sans+Pro&display=swap');

$active-link-color: #5ECE7B;
$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;
$Roboto-Condensed: "Roboto Condensed", sans-serif;
$Source-Sans-Pro: "Source Sans Pro", sans-serif;
$white: #FFFFFF;
$dark-text: #1D1F22;

#root {
  margin: 0 auto;
  padding: 0;
  width: 92%;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

.navlink-font-family-and-weight {
  font-family: $Raleway;
  font-weight: 500;
  padding: 12px 15px 30px 15px;
}

.navbar {
  @extend .horizontal;
  font-family: $Raleway;
  width: 100%;
  height: 75px;
  align-items: center;
  margin: 0 auto;
  border: 1px solid green;
}

.navbar-links {
  @extend .horizontal;
  height: 50%;
  width: 15%;
}

.navbar-link {
  @extend .navlink-font-family-and-weight;
  color: $dark-text;
}

.active-navlink {
  @extend .navlink-font-family-and-weight;
  color: $active-link-color;
  border-bottom: 3px solid $active-link-color;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}

.dropdownBtn {
  @extend .horizontal;
  border: none;
  background-color: $white;
  min-width: 54px;
  justify-content: end;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  width: 114px;
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-block-start: 0.5em;
  padding-inline-start: 0;
  background-color: $white;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 10;
}

.dropdown-menu li {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: inherit;
  &:hover {
    background-color: #EEEEEE;
  }
}

.show {
  display: block;
}

.buttons {
  display: flex;
  align-items: center;
  button {
    margin-top: 7px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    .arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 7px;
      font-size: 14px;
      .caret {
        visibility: hidden;
      }
      .caron {
        margin-top: -14px;
        font-weight: 100;
      }
      .hidden-arrow {
        display: none;
      }
      .visible-arrow {
        visibility: visible;
        margin-bottom: -4px;
        font-weight: 100;
      }
    }
  }
}

.cartOverlay-cart {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  padding: 0;
  .black-cart {
    position: absolute;
    top: 19%;
  }
  .left-black-wheel {
    position: absolute;
    top: 37%;
    left: 22%
  }
  .right-black-wheel {
    position: absolute;
    top: 37%;
    right: 35%;
  }
}

 .cartOverlay-wrapper {
  position: absolute;
  width: 325px;
  max-height: 677px;
  overflow-y: auto;
  margin-left: -232px;
  padding: 32px 16px;
  margin-block-start: 1rem;
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid brown;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 15;
  .cartOverlay-heading {
    margin-block-end: 32px;
    .my-bag {
      font-family: $Raleway;
      font-weight: 700;
      font-size: 16px;
    }
    .q-count {
      @extend .my-bag;
      font-weight: 500;
    }
  }
  .items-wrapper {
    display: flex;
    flex-direction: column-reverse;
    .cartItem {
      width: 100%;
      height: auto;
      display: flex;
      margin-block-end: 32px;
      border: 1px solid rgba(57, 55, 72, 0.22);
      .left-side {
        width: 45%;
        padding: 0;
        border: 1px solid firebrick;
      }
      .mid {
        width: 10%;
        padding: 0;
        border: 1px solid fuchsia;
      }
      .right-side {
        width: 45%;
        padding: 0;
        border: 1px solid goldenrod;
      }
    }
  }
  .total {
    @extend .horizontal;
    margin-block-start: -0.8em;
    margin-block-end: 0.8em;
    p {
      font-family: $Roboto;
      font-size: 16px;
      font-weight: 500;
    }
    div {
      display: flex;
      align-items: center;
    }
  }
}

.cartItem-heading {
  margin-top: 0;
  p {
    margin-block-start: 0;
    margin-block-end: 7px;
    font-size: 16px;
    font-family: $Raleway;
    font-weight: 300;
  }
}

.cartItem-price {
  font-size: 16px;
  font-weight: 500;
  margin-block: 0.8rem;
}

.cartItem-attributes {
  .type-text {
    .attributes-size{
      font-family: $Raleway;
      font-size: 14px;
      font-weight: 400;
      margin-block-end: 0.5em;
    }
    .attributes-size-div {
      display: flex;
      flex-direction: row;
      .size-box {
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        color: $dark-text;
        font-family: $Source-Sans-Pro;
        font-size: 14px;
        font-weight: 400;
        box-sizing: border-box;
        margin-right: 8px;
        border: 1px solid $dark-text;
      }
      .choice {
        @extend .size-box;
        color: $white;
        border: none;
        background-color: $dark-text;
      }
      .size-box-reserviced {
        @extend .size-box;
        width: 38px;
        height: 24px;
      }
      .choice-reserviced {
        @extend .size-box-reserviced;
        color: $white;
        border: none;
        background-color: $dark-text;
      }
    }
  }

  .type-swatch {
    .attributes-color {
      font-family: $Raleway;
      font-size: 14px;
      font-weight: 400;
      margin-block-end: 0.5em;
    }

    .attributes-color-div {
      display: flex;
      flex-direction: row;
      .parent-box {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 4px;
        .swatch-box {
          width: 16px;
          height: 16px;
          background: rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
        }
      }
    }
  }
}


.main-logo {
  position: relative;
  .logo-mark {
    position: absolute;
    margin-top: 5px;
    margin-left: -25px;
    z-index: 5;
  }
  .logo-mark-arrow {
    position: absolute;
    margin-top: -4px;
    margin-left: -14px;
    z-index: 15;
  }
  .background-svg {
    position: absolute;
    bottom: 31%;
    left: 5%;
    z-index: -1;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.grid-item {
  position: relative;
  width: 354px;
  height: 418px;
  margin-bottom: 100px;
  padding: 15px;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  .image-box {
    background-color: rgba(57, 55, 72, 0.22);
    width: 100%;
    height: 82%;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.add-to-cart {
  position: absolute;
  width: 52px;
  height: 52px;
  bottom: 14%;
  right: 7%;
  background-color: $active-link-color;
  border-radius: 50%;
  z-index: 10;
  .white-cart {
    position: absolute;
    top: 28%;
    left: 28%;
  }
  .left-white-wheel {
    position: absolute;
    top: 46%;
    left: 42%;
  }
  .right-white-wheel {
    position: absolute;
    top: 46%;
    right: 32%;
  }
}

.text-box {
  width: 100%;
  height: 18%;
  // border: 1px solid blue;
  .product-title {
    font-family: $Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding-top: 8px;
    text-decoration: none;
  }

  .displayed-currency {
    font-family: $Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: -10px;
  }
}

.product-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  // border: 1px solid purple;
  .product-images {
    @extend .horizontal;
    flex-direction: row;
    width: 60%;
    height: inherit;
    margin-right: 95px;
    // border: 1px solid paleturquoise;
  }
  .product-details {
    width: 30%;
    height: inherit;
    // border: 1px solid lime;
  }
}

.smaller-images {
  width: 10.5%;
  height: inherit;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    padding: 1px;
    cursor: pointer;
    img {
      width: 76px;
      height: 76px;
      object-fit: fill;
    }
  }
}

.bigger-image {
  width: 83%;
  height: 510px;
  // background-color: $white;
  background: #FAFAFA;
  // border: 1px solid red;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-heading {
  line-height: 27px;
  margin-bottom: 40px;
  .brand {
    font-size: 30px;
    font-weight: 600;
    font-family: $Raleway;
    font-style: normal;
    color: $dark-text;
    margin: 0 auto 16px 0;
  }
  .name {
    font-size: 30px;
    font-weight: 400;
    font-family: $Raleway;
    font-style: normal;
    color: $dark-text;
    margin-top: 15px;
  }
}

.attributes {
  margin-bottom: 37px;
  .attributes-size, .attributes-color {
    text-transform: uppercase;
    font-family: $Roboto-Condensed;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .attributes-size-div {
    display: flex;
    flex-direction: row;
    .size-box {
      display: flex;
      width: 63px;
      height: 45px;
      justify-content: center;
      align-items: center;
      font-family: $Source-Sans-Pro;
      box-sizing: border-box;
      margin-right: 12px;
      border: 1px solid $dark-text;
    }
    .choice {
      @extend .size-box;
      border: none;
      color: $white;
      background-color: $dark-text;
    }
  }

  .attributes-color-div {
    display: flex;
    flex-direction: row;
    .parent-box {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 5px;
      .swatch-box {
        width: 32px;
        height: 32px;
        box-sizing: border-box;
      }

    }
  }
}

.pdp-displayed-currency {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: $Raleway;
}

.price-size {
  text-transform: uppercase;
  font-family: $Roboto-Condensed;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.action-button {
  width: 292px;
  height: 52px;
  margin: -20px auto 36px 0;
  button {
    width: inherit;
    height: inherit;
    font-family: $Raleway;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    border: none;
    border-radius: 0%;
    background-color: $active-link-color;
    &:hover {
      cursor: pointer;
    }
  }
}

.description {
  width: 292px;
  height: 105px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  div {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $Roboto;
    font-weight: 400;
    line-height: 26px;
    overflow-y: auto;
    margin: 0;
    p {
      margin: 0;
    }
  }
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .increment {
    width: 24px;
    height: 24px;
    border: 1px solid $dark-text;
    box-sizing: border-box;
    position: relative;
    .x {
      position: absolute;
      top: -20%;
      left: 30%;
    }
    .y {
      position: absolute;
      top: -3%;
      left: 48%;
      z-index: -1;
    }
  }
  .count {
    @extend .increment;
    border: none;
    text-align: center;
  }
  .decrement {
    @extend .increment;
    span {
      position: absolute;
      top: -20%;
      left: 30%;
    }
  }
}

.right-side {
  // background-color: #F9F9F9;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.total {
  p {
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 500;
  }
  div {
    display: flex;
    align-items: center;
    font-family: $Raleway;
    font-weight: 700;
    font-size: 16px;
  }
}

.cart-buttons {
  @extend .horizontal;
  button {
    min-width: 135px;
    height: 43px;
    border-radius: 0%;
  }
  .view-bag {
    font-family: $Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark-text;
    border: 1px solid $dark-text;
    background: $white;
  }
  .checkout {
    @extend .view-bag;
    border: none;
    color: $white;
    background-color: $active-link-color;
  }
}

.cartPage-items-wrapper {

}

.cartPageItem {
  @extend .horizontal;
  width: 100%;
  height: auto;
  padding: 26px 0;
  margin-block-end: 32px;
  box-sizing: border-box;
  border: 1px solid blue;
  color: $dark-text;
  .left-side {
    width: 78%;
    box-sizing: border-box;
    border: 1px solid rgba(57, 55, 72, 0.22);
    .cartItem-heading {
      .brand-heading {
        font-family: $Raleway;
        font-weight: 600;
        font-size: 30px;
      }
      .name-heading {
        @extend .brand-heading;
        font-weight: 400;
      }
    }
    .cartItem-price {
      font-family: $Raleway;
      font-weight: 700;
      font-size: 24px;
    }
  }
  .right-side {
    width: 22%;
    box-sizing: border-box;
    border: 1px solid peru;
  }
}

.cartPageItem-attributes {
  .type-text {
    .attributes-size {
      font-family: $Roboto-Condensed;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-block-end: 0.5em;
    }
    .attributes-size-div {
      display: flex;
      flex-direction: row;
      .size-box {
        display: flex;
        width: 63px;
        height: 45px;
        justify-content: center;
        align-items: center;
        color: $dark-text;
        font-family: $Source-Sans-Pro;
        font-size: 14px;
        font-weight: 400;
        box-sizing: border-box;
        margin-right: 8px;
        border: 1px solid $dark-text;
      }
      .choice {
        @extend .size-box;
        color: $white;
        border: none;
        background-color: $dark-text;
      }
      .size-box-reserviced {
        @extend .size-box;
        width: 65px;
        height: 45px;
      }
      .choice-reserviced {
        @extend .size-box-reserviced;
        color: $white;
        border: none;
        background-color: $dark-text;
      }
    }
  }

  .type-swatch {
    .attributes-color {
      font-family: $Roboto-Condensed;
      font-size: 18px;
      font-weight: 700;
      text-transform:uppercase;
      margin-block-end: 0.5em;
    }

    .attributes-color-div {
      display: flex;
      flex-direction: row;
      .parent-box {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 4px;
        .swatch-box {
          width: 32px;
          height: 32px;
          background: rgba(255, 255, 255, 0.2);
          box-sizing: border-box;
        }
      }
    }
  }
}

