@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
  margin: 0;
}

.navbar {
  font-family: "Raleway", sans-serif;
}

.navbar-div {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 2px solid blue;
  list-style: none;
  width: 114px;
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline-start: 0;
  background-color: #FFFFFF;
  z-index: 10;
}

.dropdown-menu li {
  text-align: center;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 8px;
  background-color: inherit;
}

.dropdown-menu li:hover {
  background-color: #EEEEEE;
  border: blue;
}

.show {
  display: block;
}

.buttons span {
  margin-left: 15px;
}

.main-logo {
  position: relative;
}

.logo-mark {
  position: absolute;
  margin-top: 5px;
  margin-left: -25px;
  z-index: 15;
}

.logo-mark-arrow {
  position: absolute;
  margin-top: -4px;
  margin-left: -14px;
  z-index: 15;
}