@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  margin: 0;
}

.dropdown-menu {
  display: none;
  position: relative;
  background-color: #EEEEEE;
  z-index: 10;
}

.show {
  display: block;
}
